<div class="container-fuild">

    <div>
        <h1>Productos en Tiempo real</h1>
    </div>


    {{!-- LISTA DE PRODUCTOS --}}
    <div id="list-products" class="container-fluid">

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>